#background{
    background-image: url(img/background-img.jpg);
    width: 1000px;
   background-repeat: no-repeat;
}
.nav-style{
background-color:rgb(0, 0, 0, .5);
}
#nav-link-style{
    color: gold;
}
#nav-link-style :hover{

}
.background-color{
    background-color:black
}
